{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./app/tsconfig.eslint.json",
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "airbnb",
    "airbnb-typescript"
  ],
  "rules": {
    "linebreak-style": 0,
    "no-console": 1, // Means warning
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "@typescript-eslint/comma-dangle":"off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "implicit-arrow-linebreak":"warn",
    "operator-linebreak":"warn",
    "object-curly-newline": "off",
    "@typescript-eslint/indent":"warn",
    "react/jsx-curly-newline":"warn",
    "react/jsx-no-useless-fragment": "off"
  }
}
