.box-shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.bubble-transfer {
  background-color: #00dca3;
}

.bubble-creation {
  background-color: #3d4c5c;
}

.bubble-cancel {
  background-color: #b7c6c4;
}

.transaction-bubble {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}

.selected-transaction {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #fff;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid #fff;
}
